{% extends 'base_layout.html' %}

{% block stylecontent %}
    <style>
        h1 {
            border-bottom: 1px solid;
        }
        h4 {
            font-weight: 400;
        }
        a:hover {
            text-decoration: none;
        }

        .foot {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
{% endblock %}


{% block bodycontent %}
        <div class="container text-center">
        <h1>STATUS AND POSITION OF BANK OF INDONESIA</h1>
        </div>

        <div class="container text-left">
        <p>
            An Independent State Institution

            A new chapter in the history of Bank Indonesia as an independent central bank was ushered in on 17th May 1999 when the Bank Indonesia Act (No. 23 of 1999) was enacted, which has subsequently been amended by Act No.6 of 2009. The BI Act confers status and position as an independent state institution, free from interference by the Government and/or other parties, unless explicitly stipulated in prevailing laws.
            In accordance with the BI Act, Bank Indonesia is a fully autonomous state institution in terms of formulating and implementing its duties and responsibilities.  Furthermore, Bank Indonesia has a duty to reject or disregard any attempt of intervention or interference by any party, while external parties have no grounds or justification to interfere with task implementation at Bank Indonesia.
            The special status and position conferred are necessary to ensure Bank Indonesia can effectively and efficiently implement its role and function as the monetary authority.

            As a Legal Entity
            Bank Indonesia’s status as a public legal entity or civil legal entity is explicitly stipulated in prevailing laws.  As a public legal entity and in accordance with its duties and responsibilities, Bank Indonesia is authorised to issue legally binding regulations in the implementation of the law.  As a civil legal entity, Bank Indonesia is authorised to represent itself within and outside a court of law.​
        </p>
        </div>

        <div class="container text-center">
            <h4><em>Vision and Mission</em></h4>
        </div>

        <div class="container text-left">
        <p>
            Vision<br>
            To become the foremost digital central bank that creates tangible contribution to the national economy and be the best central bank amongst emerging market countries towards an Advanced Indonesia.<br>
            <br>
            Mission<br>
            To achieve and maintain Rupiah stability through effective monetary policy and Bank Indonesia policy mix.<br>
            To engage in maintaining financial system stability through effective macro-prudential policy in synergy with micro-prudential policy by the Financial Services Authority (OJK).<br>
            To engage in developing digital economy and finance through strengthening Bank Indonesia payment system policy in synergy with the government and other strategic partners policies.<br>
            To support macroeconomic stability and sustainable economic growth through achieving synergy among Bank Indonesia’s policy mix, Government’s fiscal policies and structural reformation as well as other strategic partners policies.<br>
            To engage in enhancing financial market deepening in order to strengthen the effectiveness of Bank Indonesia policy and to support national economic financing.<br>
            To develop sharia economy and finance from the national level to the regional level.<br>
            To build a digital-based central bank in terms of the policies and institutional arrangements by strengthening the organisation, human resource, governance and reliable information system as well as proactive international role.<br>
        </p>
        </div>
    <br><br>
{% endblock %}
